*{
    margin: 0px;
    padding: 0px;
 }

 @font-face {
    font-family: 'Helvetica';
    src: url('fonts/Helvetica.ttf');
 }

body {
    font-family: 'Inter', sans-serif;
    position: relative;
    margin: 50px;
}

.flag-picker {
    font-family: "Inter", sans-serif;
    text-align: center;
    margin: 30px auto;
    letter-spacing: -2px;
}


input::placeholder {
    color: #000000;
    font-size: 15px;
    letter-spacing: -1px;
}

#continent-input{
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

.color-section {
    display: flex;
    flex-direction: column;
    width: 200px;
    background: #D9D9D9;
    padding: 20px;
    font-weight: bold;
    border-radius: 10px;
    letter-spacing: -1px;
    line-height: 80%;
}

.continent-section{
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 210px;
    background: #D9D9D9;
    border-radius: 10px;
    padding: 20px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 80%;
}

.color-section p, .continent-section p {
    margin: 5px 0px 10px 0px;
}


.color-section label {
    display: flex;
    justify-content: space-between;
    width: 180px;
    margin-bottom: 6px;
    cursor: pointer;
}

.continent-section label {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-bottom: 6px;
    cursor: pointer;
}

input[type='checkbox'] {
    cursor: pointer;
}


#generate-btn {
    margin: 10px auto;
    outline: none;
    border: none;
    width: 250px;
    height: 50px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    border-radius: 25px;
    background-color: #A4A4A4;
    cursor: pointer;
    padding: auto;
    
}

#generate-btn:hover {
    background-color: #D9D9D9;
}

#cards {
    display: flex;
    justify-content: center;
    gap: 10px;
}


a {
    text-decoration: none;
    color: black;
}

.paragraph {
    display: flex;
    justify-content: center;
    color: rgb(255, 0, 0);
}

.displayed-flags {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
}


.flag-wrapper {
    position: relative;
    display: inline-block;
}

.flag-image {
    width: 200px;
    aspect-ratio: 5/3;
    border-radius: 5px;
    cursor: pointer;
    display: block;
}

.flag-wrapper .flag-image:hover {
    box-shadow: 0px 0px 10px black;
}

.flag-overlay {
    /* display: flex; */
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 94.5%;
    height: 50px;
    margin-top: -50px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 0px 0px 5px 5px ;
}

.flag-overlay:hover {
    opacity: 1;
}

.flag-name {
    font-family: 'Helvetica', sans-serif;
    font-size: 1rem;
    color: #ffffff;
    text-shadow: 2px 2px 5px#000000;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

